<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - ToDoApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>@Html.ActionLink("NotDone", "NotDoneTasks", "Task")</li>
                <li>@Html.ActionLink("InProgress", "InProgressTasks", "Task")</li>
                <li>@Html.ActionLink("Done", "DoneTasks", "Task")</li>
                <li>@Html.ActionLink("User", "UserStatistic", "Task")</li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <p>&copy;ToDoApp</p>
        <p>All rights reserved</p>
    </footer>
    <script src="~/js/site.js"></script>
</body>
</html>
