@model NotDone
@{
    ViewBag.Title = "Not Done ToDo";
}
<h1>Not Done ToDo`s</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Importance Of ToDo</th>
            <th>Type Of ToDo</th>
            <th>SubTask`s</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            @foreach (var todo in Model.NotDoneTodos)
            {
                <td>@todo.Title</td>
                <td>@todo.Descrition</td>
                <td>@todo.ImporanceOfTask</td>
                <td>@todo.Type</td>
                <td>
                    <table>
                        <tr>
                            @foreach (var subTodo in todo.SubTasks)
                            {
                                <td><b>Title:</b> @subTodo.Title</td>
                                <td><b>Description:</b> @subTodo.Descrition</td>
                                <td><b>Status of SubToDo:</b> @subTodo.SubStatus</td>
                            <tr></tr>
                        }
                </tr>

        </table>
        </td>
    }
  </tr>
</tbody>
</table>

    @if(Model.NotDoneTodos.Count() == 0)
        {
            <td>Congradulation! All to todo`s are done!</td>
            }